@use '../../styles/Define'

/* ------------------ Hero Banner ------------------ */
#Hero
    .background 
        @include Define.box($position: absolute, $left: 0, $top: -96px, $width: 100%, $height: calc(100% + 96px))

        &::before
            content: ''
            @include Define.box($position: absolute, $left: 0, $top: 0, $width: 100%, $height: 100%)
            @extend .bg-natural-60
            opacity: 0.3

    .wrapper
        @include Define.box($position: relative, $height: 100%)
        @include Define.flex($alignItems: center, $flexDirection: row)
        @include Define.padding($top: 16px, $bottom: 76px)

        @include Define.media('screen', '<sm')
            @include Define.padding($left: 30px, $right: 30px)

    .title
        @include Define.padding($top: 24px, $bottom: 24px)
        max-width: 540px
        overflow: hidden

        @include Define.media('screen', '<lg')
            max-width: 490px

        > *
            transition: transform 1s ease

        h1
            line-height: 88px
            transform: translateX(-100%)

            @include Define.media('screen', '<lg')
                line-height: 70px

            @include Define.media('screen', '<sm')
                line-height: 50px

        p
            @include Define.margin($top: 25px)
            transform: translateX(-100%)

        a
            @include Define.margin($top: 59px)
            transform: translateY(calc(100% + 24px))

            @include Define.media('screen', '<md')
                display: none

    .mockup
        @include Define.padding($top: 24px, $bottom: 24px)
        max-width: 705px

        svg
            width: 100%

            .m0, .m1, .m2
                transform: scale(0)
                transition: transform 1s ease

            .m0
                transform-origin: center center

            .m1
                transform-origin: left 67%

            .m2 
                transform-origin: right 33%

        a
            @include Define.margin($top: 59px)
            transform: translateY(calc(100% + 24px))
            transition: transform 1s ease

            @include Define.media('screen', '>=md')
                display: none

    .loaded
        .title
            h1, p, a
                transform: translate(0, 0)

        .mockup
            .m0, .m1, .m2
                transform: scale(1)

            a
                transform: translate(0, 0)
/* ------------------ End Hero Banner ------------------ */

/* ------------------ Ecosystem ------------------ */
#Ecosystem

    .eco_arrow
        a
            &:first-child
                @include Define.margin($right: 42px)

            &.hidden
                opacity: 0
                pointer-events: none

        @include Define.media('screen', '<sm')
            display: none

    .title        
        span
            @include Define.inlineBlock($align: top)

            &:first-child
                @include Define.box($width: 34px)
        
            &:last-child
                @include Define.box($width: calc(100% - 34px))

    .slick_slider
        @include Define.margin($top: 26px, $left: -32px, $right: -32px)
        display: block

        @include Define.media('screen', '>=sm')
            display: none

        .slide
            @include Define.padding($left: 16px, $right: 16px)

        .title
            @include Define.margin($top: 16px, $bottom: 6px)

    .custom_slider
        @include Define.margin($top: 21px)
        @include Define.flex($alignItems: stretch, $flexDirection: row)
        overflow: hidden

        @include Define.media('screen', '<sm')
            display: none

        .title
            @include Define.margin($bottom: 16px)
        
        .slide
            flex: 1 0 calc(42% + 18px)
            @include Define.padding($right: 32px)
            transition: flex-basis 1s cubic-bezier(.4, 1.35, .6, 1)

            @include Define.media('screen', '>=lg')
                flex: 1 0 calc(29% + 16px)

            .slide_content
                @include Define.box($height: 100%)
                @include Define.flex($justifyContent: flex-end, $flexDirection: column)
    
                > div
                    @include Define.box($position: relative)

                    &::after
                        content: ''
                        @include Define.box($position: absolute, $top: 0, $right: -17px, $width: 2px, $height: 100%)
                        @extend .bg-green-50

            .caption
                @include Define.box($position: relative, $width: 100%)
                @include Define.margin($top: 13px)
                @include Define.padding($right: 45px)

                .text
                    @include Define.box($height: 45px)
                    overflow: hidden

                    span
                        display: block

                a
                    @include Define.box($position: absolute, $bottom: 4px, $right: 2px)
                    visibility: hidden

            &.slide_active
                flex: 1 0 58%

                @include Define.media('screen', '>=lg')
                    flex: 1 0 42%
                
                h5
                    @extend .font-md-3

                .caption
                    @include Define.padding($right: 56px)

                    .text
                        @extend .font-sm-2

                    svg
                        visibility: visible
    
    .pop_ecosystem
        .caption
            @include Define.padding($top: 40px, $bottom: 30px, $left: 30px, $right: 30px)
            min-height: 265px
        
/* ------------------ End Ecosystem ------------------ */
    
/* ------------------ Solutions ------------------ */
.solution-hover-transistion    
    transition: all .8s cubic-bezier(.4, 1.35, .6, 1)

#Solution
    > p
        @include Define.margin($top: 16px, $bottom: 56px)

    .row
        @include Define.margin($top: -12px, $bottom: -12px)

    .column
        @include Define.padding($top: 12px, $bottom: 12px)

    .wrapper
        @include Define.box($position: relative)
        overflow: hidden
        @include Define.media('screen', '<md')
            display: none
        
        &::after
            content: ''
            @include Define.box($position: absolute, $left: 0, $top: 0, $width: 100%, $height: 100%)
            @include Define.bgGradient($deg: 0deg, $start: 0%, $startColor: rgba(18, 18, 18, 0.8), $end: 100%, $endColor: rgba(18, 18, 18, 0.1))
            opacity: 0.5
            @extend .solution-hover-transistion

        img
            transform: scale(1.2)
            @extend .solution-hover-transistion

        h4
            @include Define.box($position: absolute, $bottom: 40px, $left: 40px, $width: 100%, $zindex: 1)
            @include Define.padding($right: 40px)
            white-space: nowrap
            transform-origin: left top
            @extend .solution-hover-transistion
            
            span
                @extend .solution-hover-transistion

                &:last-child
                    @include Define.box($position: absolute, $top: 0, $left: 0)
                    opacity: 0
            
        .caption
            @include Define.box($position: absolute, $left: 0, $width: 100%, $zindex: 1)
            @include Define.padding($left: 40px, $right: 40px)
            transform-origin: center bottom
            transform: scale(0.5)
            @extend .solution-hover-transistion
            
            a
                @include Define.margin($top: 32px)

        &:hover
            img
                transform: scale(1)

            &::after
                opacity: 1

            h4
                transform: scale(0.6)

                span
                    &:last-child
                        opacity: 1

                    &:first-child
                        opacity: 0

            .caption 
                transform: scale(1)

    .wrapper_sm
        @include Define.box($position: relative)
        overflow: hidden
        @include Define.media('screen', '>=md')
            display: none

        &::after
            content: ''
            @include Define.box($position: absolute, $left: 0, $top: 0, $width: 100%, $height: 100%, $zindex: 1)
            @include Define.bgGradient($deg: 0deg, $start: 0%, $startColor: rgba(18, 18, 18, 0.8), $end: 100%, $endColor: rgba(18, 18, 18, 0.1))
            opacity: 1

        img
            @include Define.box($position: absolute, $zindex: 0)

        .content
            @include Define.box($position: relative, $height: 100%, $zindex: 2)
            @include Define.padding($top: 55px, $bottom: 64px, $left: 24px, $right: 24px)
            @include Define.flex($justifyContent: space-between, $flexDirection: column)

            h4
                @include Define.margin($bottom: 16px)
/* ------------------ End Solutions ------------------ */

/* ------------------ Maps ------------------ */
@keyframes dot_hover_coming_soon
    0%
        r: 8
    12%
        r: 8
    25%
        r: 16
    37%
        r: 16
    50%
        r: 12
    62%
        r: 12
    75%
        r: 20
    87%
        r: 20
    100%
        r: 8

@keyframes dot_hover
    0%
        r: 8
    12%
        r: 8
    25%
        r: 16
    37%
        r: 16
    50%
        r: 12
    62%
        r: 12
    75%
        r: 16
    87%
        r: 16
    100%
        r: 8

#Maps
    .title > p
        @include Define.margin($top: 24px)

    .indonesia
        @include Define.box($position: relative)
        
        .interactive
            @include Define.box($position: absolute, $top: 0, $left:0, $width: 100%, $height: 100%)

            > svg


            .dot_point
                cursor: pointer

                .shadow
                    @extend .fill-yellow-20

                .outline
                    @extend .fill-yellow-60

                .dot
                    @extend .fill-white

                &.coming_soon
                    .shadow, .dot
                        @extend .fill-natural-20

                    .shadow
                        filter: blur(2px)

                    .outline
                        @extend .fill-natural-50

                &:hover 
                    &:not(.coming_soon)
                        .shadow
                            animation: dot_hover 2s cubic-bezier(.32,0,.44,1.23) 0s infinite normal
                    
                    &.coming_soon
                        .shadow
                            animation: dot_hover_coming_soon 2s cubic-bezier(.32,0,.44,1.23) 0s infinite normal
            .tip
                @include Define.box($position: absolute, $top: 0, $left: 0)
                transform: translate(-50%, -180px)
                opacity: 0
                visibility: hidden
                pointer-events: none
                
                .content
                    @include Define.padding($top: 14px, $left: 16px)
                    @include Define.box($position: absolute, $top: 0, $left: 0)
                    
                    h6
                        @include Define.margin($bottom: 12px)
                        
                    p
                        @include Define.margin($top: 4px, $bottom: 4px, $right: 8px )
/* ------------------ End Maps ------------------ */

/* ------------------ Media ------------------ */
#Media
    .tab_title
        h2 
            @include Define.box($position: relative)
            @include Define.inlineBlock($align: top)
            @include Define.margin($left: 31px, $right: 31px)
            @include Define.padding($left: 3px, $right: 3px)
            cursor: pointer

            @include Define.media('screen', '<sm')
                @include Define.margin($left: 13px, $right: 13px)

            &::after
                content: ''
                @include Define.box($position: absolute, $left: 0, $width: 0, $height: 2px, $bottom: -6px)
                @extend .bg-green-60
                transition: all 0.7s ease
            
            &.active
                @extend .text-green-60

                &::after
                    @include Define.box($width: 100%)

    > p
        @include Define.margin($top: 35px, $bottom: 32px)
            
    .content
        .slick_slide
            @include Define.box($height: 208px)
            @include Define.flex($justifyContent: center, $alignItems: center)

            @include Define.media('screen', '<sm')
                @include Define.box($height: 160px)

            img 
                filter: grayscale(100%)
                transition: all 0.3s linear

                @include Define.media('screen', '<sm')
                    width: 135px
                
                &:hover
                    filter: grayscale(0)
/* ------------------ End Media ------------------ */

/* ------------------ Join ------------------ */
@keyframes join_ul 
    0%
        margin-top: 0
    7%
        margin-top: 0
    16%
        margin-top: -31.8%
    23%
        margin-top: -31.8%
    32%
        margin-top: -63.6%
    39%
        margin-top: -63.6%
    48%
        margin-top: -95.4%
    55%
        margin-top: -95.4%
    64%
        margin-top: -127.2%
    71%
        margin-top: -127.2%
    80%
        margin-top: -159%
    87%
        margin-top: -159%
    100%
        margin-top: 0

#Join
    > p
        @include Define.margin($top: 24px, $bottom: 56px)

    h2        
        &, > *
            @include Define.inlineBlock($align: top)

        div
            max-height: 67.2px
            overflow: hidden

            ul
                animation: join_ul 10s ease 0s infinite normal

            @include Define.media('screen', '<md')
                max-height: 36.4px

            @include Define.media('screen', '<sm')
                max-height: 25.2px
/* ------------------ End Join ------------------ */

/* ------------------ Testimoni ------------------ */
#Testimoni
    > p
        @include Define.margin($top: 16px, $bottom: 56px)

    .content
        @include Define.margin($left: auto, $right: auto)
        @include Define.box($width: 100%)
        max-width: 1256px

        @include Define.media('screen', '<lg')
            @include Define.margin($left: -64px, $right: -64px)
            @include Define.box($width: calc(100% + 128px) )

        @include Define.media('screen', '<md')
            @include Define.margin($left: -32px, $right: -32px)
            @include Define.box($width: calc(100% + 64px) )
        
        .slick_slide
            @include Define.padding($left: 45px, $right: 45px)

            @include Define.media('screen', '<lg')
                @include Define.padding($left: 32px, $right: 32px)

            @include Define.media('screen', '<md')
                @include Define.padding($left: 16px, $right: 16px)

            > div
                box-shadow: 0px 4px 12px rgba(18, 18, 18, 0.08)

            .photo
                @include Define.box($width: 440px)

                @include Define.media('screen', '<md')
                    @include Define.box($width: 100%)

            .caption
                @include Define.padding($left: 88px, $right: 88px)

                @include Define.media('screen', '<md')
                    @include Define.box($height: 180px)
                    @include Define.padding($top: 24px, $bottom: 16px, $left: 16px, $right: 16px)

                h6
                    @include Define.margin($top: 2px, $bottom: 32px)

                    @include Define.media('screen', '<md')
                        @include Define.margin($bottom: 16px)
/* ------------------ End Testimoni ------------------ */

/* ------------------ Download ------------------ */
#Download
    > div
        @include Define.margin($left: auto, $right: auto)
        @include Define.box($width: 100%)
        max-width: 1124px

        .mockup
            @include Define.media('screen', '<md')
                @include Define.box($width: 100%)

            img
                @include Define.box($width: 100%)
                max-width: 416px

        .caption
            @include Define.padding($top: 93px, $left: 48px)

            @include Define.media('screen', '<md')
                @include Define.padding($top: 32px, $left: 0)

            *
                @include Define.margin($bottom: 16px)
/* ------------------ End Download ------------------ */