@use '../../styles/Define'
@import '../../styles/Define'

.career
  padding: 72px 100px 100px
  background: transparent
  margin: 0 auto

  h3
    margin-bottom: 25px

  .sub_title
    width: 45vw
    font-size: 1.4em //20px
    font-weight: 400
    text-align: center
    color: Define.$green_100
    word-wrap: break-word
    margin: 0 auto 90px
    line-height: 28px

  .career_search
    +flex(row)
    margin-bottom: 65px

    .search
      position: relative
      margin-right: 16px

      input
        min-width: 416px
        padding: 16px 32px
        height: 56px
        background: #FFFFFF
        border: 1px solid #B7B7B7
        box-shadow: 0px 1px 8px rgba(112, 112, 112, 0.15), 0px 1px 8px 1px rgba(112, 112, 112, 0.05)
        border-radius: 8px

      span
        position: absolute
        transform: translate(-50%, -50%)
        top: 50%
        right: 5%

        i
          color: Define.$natural_50

    .box
      width: 56px
      height: 56px
      border-radius: 8px
      background: #FFFFFF
      border: 1px solid Define.$green_100
      box-shadow: 0px 1px 8px rgba(112, 112, 112, 0.15), 0px 1px 8px 1px rgba(112, 112, 112, 0.05)
      margin-right: 16px
      +flex(row, center, center)

  .wrapper_box_career
    margin: 0 auto 25px
    +flex(row, flex-start, flex-start, wrap)

    .box_career
      background: #fff
      border: 1px solid Define.$natural_30
      box-shadow: 0px 1px 8px rgba(112, 112, 112, 0.15), 0px 1px 8px 1px rgba(112, 112, 112, 0.05)
      border-radius: 16px
      padding: 35px 24px
      margin: 0 auto 40px
      width: 95%

      .title
        font-size: 24px
        font-weight: 700
        color: Define.$green_70
        line-height: 34px
        margin-bottom: 4px

      .desc
        font-size: 1em
        font-weight: 400
        line-height: 22px
        color: Define.$green_100
        margin-bottom: 24px

      .wrapper_career_info
        +flex(row, space-between, flex-start)

        .wrapper_year
          +flex(row, flex-start, flex-start)

          h5
            margin-left: 10px

        .title
          font-size: 1em
          font-weight: 700
          color: Define.$green_100
          margin-bottom: 8px

        .desc
          font-size: 1em
          font-weight: 400
          color: Define.$natural_50

    .career_button_detail
      display: block
      margin: 0 0 0 auto
      padding: 10px 12px
      background: Define.$green_60
      box-shadow: 0px 1px 8px rgba(112, 112, 112, 0.15), 0px 1px 8px 1px rgba(112, 112, 112, 0.05)
      border-radius: 8px
      font-size: 1em
      font-weight: 700
      color: #fff

      &:hover
        background: Define.$green_70

  .button_more
    display: block
    margin: 0 auto
    padding: 16px 43px
    border-radius: 8px
    background: #FFFFFF
    font-size: 1.2em
    font-weight: 700
    color: Define.$green_60
    box-shadow: 0px 5px 8px rgba(112, 112, 112, 0.15)
    border: 1px solid Define.$green_60

    &:hover
      border: 1px solid Define.$green_80
      box-shadow: 0px 1px 0px rgba(112, 112, 112, 0.15)
