@use './Define'
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap)

*
    list-style: none
    margin: 0
    padding: 0
    border: 0
    outline: 0
    text-decoration: none
    background: none
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004)
    text-rendering: optimizeLegibility !important
    -webkit-font-smoothing: antialiased !important
    -moz-osx-font-smoothing: antialiased !important
    font-family: 'Poppins', sans-serif
    color: Define.$green_100
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    font-family: 'Lato', sans-serif

body,
html
    overflow: hidden

del
    text-decoration: line-through

strong,
em,
span,
small
    color: inherit
    font-size: inherit


em
    font-style: italic

h6
    font-size: 18px

p
    font-size: 20px
    line-height: 28px

p small
    font-size: 14px
    line-height: 20px

.wrp-padding 
    padding-left: 72px
    padding-right: 72px