$natural_30: #E7E7E7
$natural_50: #707070
$natural_60: #121212
$green_60: #086C48
$green_70: #055C46
$green_80: #044D41
$green_100: #013233

@mixin wrapper($position: absolute, $top: auto, $left: auto, $width: auto, $height: auto, $bottom: auto, $right: auto, $zindex: inherit)
    position: $position
    top: $top
    left: $left
    bottom: $bottom
    right: $right
    width: $width
    height: $height
    z-index: $zindex

@mixin flex($flexDirection: row, $justifyDirection: none, $alignDirection: none, $flexWrap: unset, $alignContent: none)
    display: flex
    flex-direction: $flexDirection
    justify-content: $justifyDirection
    align-items: $alignDirection
    flex-wrap: $flexWrap
    align-content: $alignContent

