$natural_50: #707070
$green_60: #086C48
$green_80: #044D41
$green_100: #013233

@mixin wrapper($position: absolute, $top: auto, $left: auto, $width: auto, $height: auto, $bottom: auto, $right: auto, $zindex: inherit)
    position: $position
    top: $top
    left: $left
    bottom: $bottom
    right: $right
    width: $width
    height: $height
    z-index: $zindex
    